.texto {
color: darkred;
margin-bottom: -2rem;
margin-top: -1rem;
font-size: 5rem;

}

.texto2{
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman';
 font-size: 3rem;   
}

.espacio{
    margin-bottom: 3rem;

}
